<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <link rel="stylesheet" href="/static/toastr/toastr.min.css">
    <script src="/static/resource/js/jquery-1.10.2.min.js"></script>
    <script src="/static/toastr/toastr.min.js"></script>
</head>
<style>
    .lists{
        width: 100px;
        height: 100px;
        margin: 20px;
        padding: 10px;;
        text-align: center;
        color: #FFFFFF;
        font-size: 24px;;
    }
</style>
<body>

<div class="layui-row">

    {include file="common/storey" /}
</div>

</body>
</html>